[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Fletch Staging
Exec=/home/gk_igor_dev/development/opensource/gk_http_client/build/linux/x64/release/bundle/fletch_staging
Icon=/home/gk_igor_dev/development/opensource/gk_http_client/assets/icon/fletch_staging.png
Comment=Fletch Staging — open source HTTP client (Staging environment)
Categories=Development;
StartupWMClass=com.example.fletch_staging
